.App {
  text-align: center;
  font-family: "Ubuntu Mono";
  color: #555588;
}

fieldset {
  box-shadow: 0px 0px 10px #555588;
}


.FormMovie {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

.FormMovie h1 {
  text-align: center;
}

.FormMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormMovie .form-data label {
  display: inline-block;
  width: 175px;
  margin-right: 10px;
  text-align: right;
}

.FormMovie .form-data input:not([type="submit"]) {
  flex-grow: 1;
}

.FormMovie .form-data textarea {
  flex-grow: 1;
}